:root, [data-bs-theme=light] {
  --bs-primary: #006d66;
  --bs-primary-rgb: 0,109,102;
  --bs-primary-text-emphasis: #002C29;
  --bs-primary-bg-subtle: #CCE2E0;
  --bs-primary-border-subtle: #99C5C2;
  --bs-info: #0072c6;
  --bs-info-rgb: 0,114,198;
  --bs-info-text-emphasis: #002E4F;
  --bs-info-bg-subtle: #CCE3F4;
  --bs-info-border-subtle: #99C7E8;
  --bs-body-font-family: Actor, sans-serif;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #006d66;
  --bs-btn-border-color: #006d66;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005D57;
  --bs-btn-hover-border-color: #005752;
  --bs-btn-focus-shadow-rgb: 217,233,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005752;
  --bs-btn-active-border-color: #00524D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #006d66;
  --bs-btn-disabled-border-color: #006d66;
}

.btn-outline-primary {
  --bs-btn-color: #006d66;
  --bs-btn-border-color: #006d66;
  --bs-btn-focus-shadow-rgb: 0,109,102;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #006d66;
  --bs-btn-hover-border-color: #006d66;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #006d66;
  --bs-btn-active-border-color: #006d66;
  --bs-btn-disabled-color: #006d66;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #006d66;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0072c6;
  --bs-btn-border-color: #0072c6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0061A8;
  --bs-btn-hover-border-color: #005B9E;
  --bs-btn-focus-shadow-rgb: 217,234,246;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005B9E;
  --bs-btn-active-border-color: #005695;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0072c6;
  --bs-btn-disabled-border-color: #0072c6;
}

.btn-outline-info {
  --bs-btn-color: #0072c6;
  --bs-btn-border-color: #0072c6;
  --bs-btn-focus-shadow-rgb: 0,114,198;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0072c6;
  --bs-btn-hover-border-color: #0072c6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0072c6;
  --bs-btn-active-border-color: #0072c6;
  --bs-btn-disabled-color: #0072c6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0072c6;
}

[data-bs-theme=dark] {
  --bs-primary: #00b760;
  --bs-primary-rgb: 0,183,96;
  --bs-primary-text-emphasis: #66D4A0;
  --bs-primary-bg-subtle: #002513;
  --bs-primary-border-subtle: #006E3A;
  --bs-body-color: #ffffff;
  --bs-body-color-rgb: 255,255,255;
  --bs-body-bg: #070d21;
  --bs-body-bg-rgb: 7,13,33;
  --bs-secondary-bg: #040219;
  --bs-secondary-bg-rgb: 4,2,25;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #00b760;
  --bs-btn-border-color: #00b760;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26C278;
  --bs-btn-hover-border-color: #19BE70;
  --bs-btn-focus-shadow-rgb: 0,27,14;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33C580;
  --bs-btn-active-border-color: #19BE70;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #00b760;
  --bs-btn-disabled-border-color: #00b760;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #00b760;
  --bs-btn-border-color: #00b760;
  --bs-btn-focus-shadow-rgb: 0,183,96;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #00b760;
  --bs-btn-hover-border-color: #00b760;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #00b760;
  --bs-btn-active-border-color: #00b760;
  --bs-btn-disabled-color: #00b760;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00b760;
}

