{% extends 'cinephoria_webapp/templates/cinephoria_webapp/base.html' %}
{% load static %}

{% block title%}
{% comment %} titre du film {% endcomment %}
{% endblock %}

{% block content %}

<section class="portfolio-block">
    <div class="container">
        <div class="heading">
            <h2>ContactEZ-NOUS !</h2>
        </div>
        <form class="shadow-lg" data-bs-theme="dark">
            <div class="mb-3" data-bs-theme="dark"><label class="form-label" for="name">Nom / prénom&nbsp;</label><input class="form-control item" type="text" id="name"></div>
            <div class="mb-3"><label class="form-label" for="subject">Objet *</label><input class="form-control item" type="text" id="subject"></div>
            <div class="mb-3"><label class="form-label" for="email">Email *</label><input class="form-control item" type="email" id="email"></div>
            <div class="mb-3"><label class="form-label" for="message">Message *</label><textarea class="form-control item" id="message"></textarea></div>
            <div class="mb-3 mt-4"><button class="btn btn-primary btn-lg d-block w-100" type="submit" style="background: var(--bs-primary);">Envoyer</button></div>
        </form>
    </div>
</section>

{% endblock %}