{% extends 'cinephoria_webapp/base.html' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="p-4 border rounded shadow-sm bg-body-secondary text-light">

                <h2 class="mb-4 text-center">🔒 Mot de passe oublié</h2>
                <p class="mb-4 text-center">Entrez votre adresse email pour recevoir un lien de réinitialisation.</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email.label_tag }} 
                        {{ form.email }}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Envoyer le lien</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
